﻿@model IEnumerable<BranchDTO>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Branches List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="BranchCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Branch</a>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Ma Chi Nhanh
					</th>
					<th>
						Ten Chi Nhanh
					</th>
					<th>
						Dia chi
					</th>
					<th>
						Trang thai
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.BranchId
						</td>
						<td>
							@item.Name
						</td>
						<td>
							@item.Address
						</td>
						<td>
							@item.State
						</td>
					<td>
							<a class="btn btn-success" asp-action="BranchEdit" asp-route-branchId="@item.BranchId">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a class="btn btn-danger" asp-action="DeleteBranch" asp-route-branchId="@item.BranchId">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}